<li class="menu-item{% if menu.active %} active{% endif %}{% if menu.menu_first %} menu-first{% endif %}{% if menu.menu_last %} menu-last{% endif %}"><a href="{{ menu.url }}" title="{{ menu.page_title }}" class="{% if menu.active %} active{% endif %}{% if menu.menu_first %} menu-first{% endif %}{% if menu.menu_last %} menu-last{% endif %}">{{ menu.menu_title }}</a></li>
